* {
    margin: 0;
    padding: 0;
}

.content img {
    width: 100%;
}

.content ul li {
    width: 25%;
    float: left;
    /* margin-top: 100px; */
    list-style: none;
}

.content {
    width: 90%;
    margin: auto;
    margin-top: 100px;
}