* {
    margin: 0;
    padding: 0;
}

.nutload {
    width: 300px;
    height: 50px;
    margin: auto;
}

h1 {
    color: #fbf8f8;
    background: black;
    display: inline-block;
    padding: 20px 20px;
    width: 300px;
    height: 50px;
    /* margin: auto; */
    text-align: center;
    cursor: pointer;
}

.chunho {
    font-size: 14px;
    color: white;
    font-family: tahoma;
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
    z-index: 6;
    transition: 0.5s;
    text-align: center;
}

.khoi:hover .chunho {
    bottom: 39%;
    transition: 0.5s;
}

.chuto {
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 5;
    color: white;
    font-family: tahoma;
    text-align: center;
    width: 100%;
    transition: 0.3s;
}

.khoi:hover .chuto {
    top: 38%;
    transition: 0.5s;
}

.duong1 {
    width: 80%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 200px;
    left: 40px;
    z-index: 4;
    text-align: center;
    transition: 0.5s;
    transform: rotate(0deg);
}

.duong2 {
    width: 80%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 200px;
    left: 40px;
    z-index: 4;
    text-align: center;
    transition: 0.5s;
    transform: rotate(0deg);
}

.duong11 {
    width: 1%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 66px;
    left: 40px;
    z-index: 4;
    text-align: center;
    transition: 0.5s;
    transform: rotate(0deg);
    opacity: 0;
}

.duong22 {
    width: 1%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 336px;
    left: 40px;
    z-index: 4;
    text-align: center;
    transition: 0.5s;
    transform: rotate(0deg);
    opacity: 0;
}

.duong33 {
    width: 1%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 200px;
    left: -90px;
    z-index: 4;
    text-align: center;
    transition: 0.5s;
    transform: rotate(90deg);
    opacity: 0;
}

.khoi:hover .duong33 {
    width: 80%;
    opacity: 1;
    transition: 0.5s;
}

.khoi:hover .duong22 {
    width: 80%;
    opacity: 1;
    transition: 0.5s;
}

.khoi:hover .duong11 {
    width: 80%;
    opacity: 1;
    transition: 0.5s;
}

.khoi:hover .duong44 {
    width: 80%;
    opacity: 1;
    transition: 0.5s;
}

.duong44 {
    width: 1%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 200px;
    right: -90px;
    z-index: 4;
    text-align: center;
    transition: 0.5s;
    transform: rotate(90deg);
    opacity: 0;
}

.khoi:hover .duong1 {
    transform: rotate(45deg);
    transition: 0.5s;
}

.khoi:hover .duong1 {
    transform: rotate(45deg);
    transition: 0.5s;
}

.khoi:hover .duong2 {
    transform: rotate(-45deg);
    transition: 0.5s;
}

img {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.nenxanh {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 400px;
    height: 400px;
    background-color: #4b87e271;
    opacity: 0;
    transition: 0.3s;
}

.khoi:hover .nenxanh {
    opacity: 1;
    transition: 0.5s
}

.layer1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
}

.khoi:hover .layer1 {
    transform: scale(0.8);
    transition: 0.5s;
}

.khoi {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    /* margin-left: 263px; */
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.khoito {
    width: 1260px;
    margin: auto;
    overflow: hidden;
}