* {
    margin: 0;
    padding: 0;
}

i.fas.fa-arrow-alt-circle-up {
    font-size: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #292525;
}

.portfolio .all {
    padding-top: 35px;
    float: left;
}

.portfolio .container {
    padding: 0;
}

.portfolio .khoi_port {
    width: 360px;
    height: 290px;
    background-color: #379E92;
    position: relative;
    padding: 0;
    display: block;
    margin-bottom: 30px;
    margin-right: 20px;
    float: left;
}

.portfolio a.nd_portfolio_duoi {
    top: 0;
    position: absolute;
    left: 47%;
    color: white;
    font-size: 16px;
    transition: 0.5s;
    padding-top: 22px;
    display: block;
    z-index: 2;
    opacity: 0;
    z-index: 201;
}

.portfolio a.td_portfolio_duoi h5 {
    position: absolute;
    top: 0;
    left: 30%;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s;
    z-index: 200;
    opacity: 0;
}

.portfolio .khoi_port .anh_portfolio {
    width: 100%;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.portfolio .khoi_port:hover .anh_portfolio {
    opacity: 0;
    z-index: -2;
    transition: 0.5s;
}

.portfolio .khoi_port:hover a.td_portfolio_duoi h5 {
    opacity: 1;
    top: 50%;
    transition: 0.5s;
}

.portfolio .khoi_port:hover a.nd_portfolio_duoi {
    opacity: 1;
    top: 50%;
    transition: 0.5s;
}

.portfolio a.nut_port {
    background-color: #EEEEEE;
    color: black;
    padding: 7px 12px;
    transition: 0.5s;
    text-decoration: none;
}

.portfolio a.nut_port:hover {
    color: white;
    background-color: #44BCDD;
    transition: 0.5s;
}

.portfolio a.nut_port.active {
    color: white;
    background-color: #44BCDD;
}

p.nd_banner2 {
    color: white;
    font-size: 16px;
}

.banner2 {
    padding-top: 136px;
    padding-bottom: 107px;
    width: 100%;
    height: 347px;
    background-image: url(images/bg-1.jpg);
    background-attachment: fixed;
}

h1.td_banner2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1em;
    font-family: Georgia, serif;
    color: white;
    margin-bottom: 20px;
}


/* css cho khoi about */

.about {
    padding-bottom: 107px;
}

.about p.nd_about_tren,
.nd_portfolio_tren {
    font-size: 15.5px;
    font-weight: 300;
    color: #777;
    padding-bottom: 55px;
    margin: 0;
}

.about h2.td_about_tren,
.td_portfolio_tren {
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 87px;
    padding-bottom: 32px;
    margin: 0;
}

.about span.nd_about_duoi {
    font-size: 16px;
    font-weight: 300;
    color: #777;
    font-family: tahoma;
}

.about h4.td_about_duoi {
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

img.img-fluid.anh_about_duoi {
    border-radius: 50%;
}


/* end css cho khoi about */

.banner1 a.link {
    color: #79cdc0;
    text-decoration: underline;
}

span.nd_banner1 {
    color: white;
    font-weight: 700;
    padding-top: 40px;
    display: block;
}

h5.td_banner1 {
    font-family: Georgia, sans-serif;
    font-size: 18px;
    color: white;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 20px;
    padding: 0 20px;
}

.khoi_banner1 {
    padding-top: 140px;
    padding-bottom: 120px;
}

.banner1 {
    width: 100%;
    height: 345px;
    background-image: url(images/bg-2.jpg);
    /* background-size: cover; */
    background-attachment: fixed;
}


/* css cho khoi noidung1 */

p.nd_noidung {
    font-size: 16px;
    color: #777;
    line-height: 1.6em;
    font-weight: 300;
}

.noidung i {
    color: #777;
    font-weight: 300;
    margin-bottom: 20px;
}

h4.td_noidung {
    font-weight: 900;
    font-size: 18px;
    font-family: tahoma;
    margin: 0;
    margin-bottom: 20px;
}

.noidung {
    padding-top: 85px;
    padding-bottom: 111px;
}

.noidung .col-sm-4 {
    padding: 0;
    margin-right: 30px;
}

.noidung .col-sm-4:last-of-type {
    margin-right: -60px;
}


/* end css khoi noi dung1 */


/* csss cho banner */

p.nd_banner {
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.banner {
    padding-top: 105px;
    background-color: #70B9B0;
    padding-bottom: 113px;
}

h1.td_banner {
    margin: 0;
    color: white;
    font-size: 48px;
    font-weight: 900;
    padding-top: 33px;
    padding-bottom: 35px;
}


/* end css cho banner */


/* css cho header */

.menuphai li.nav-item {
    padding: 0 15px;
    padding-top: 21px;
    padding-bottom: 41px
}

.menu .menuphai li.nav-item a.nav-link {
    font-size: 15px;
    color: white;
    font-family: tahoma;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    /* padding: 0 15px; */
}

.menu .menuphai li.active a.nav-link {
    color: #70B9B0;
}

.menu .menuphai li:hover a.nav-link {
    color: #70B9B0;
}

a.logo {
    padding-top: 26px;
    padding-bottom: 37px;
    font-size: 24px;
    margin: 0;
    font-weight: 900;
    color: white;
    font-family: tahoma;
    text-decoration: none;
}

.menu {
    padding: 0;
    background-color: #345652;
    margin: 0;
    border-radius: 0;
}

.menu.maunen {
    width: 100%;
    background-color: black;
    height: 60px;
    position: fixed;
}

.logo.maulogo {
    color: #44BCDD;
}


/* end css cho header */